<div class="container">
    <form action="#" [formGroup]="authForm">
        <div class="item1">
            <label for="username">Username :</label>
            <input type="text" formControlName="username">
        </div>

        <div class="item2">
            <label for="email">Email :</label>
            <input type="email" formControlName="email">
        </div>

        <div class="item3">
            <label for="password">Password :</label>
            <input type="password" formControlName="password">
        </div>

        <div class="item4">
            <label for="password">Confirm Password :</label>
            <input type="password" formControlName="confirmPassword">
        </div>

        <button>Submit</button>
    </form>

</div>