<div class="container">
    <div><mat-icon routerLink="">close</mat-icon></div>
    <div class="form-title"><p><strong>Login/Register</strong></p></div>
    <form action="#" [formGroup]="authForm" (ngSubmit)="LoginUser()">
        <div class="form-item">
            <label for="username">Enter Username :</label><br>
            <input type="text" placeholder="username"formControlName="username">
        </div>

        <!-- <div class="item2" *ngIf="aleardyUser">
            <label for="email">Email :</label>
            <input type="email" formControlName="email">
        </div> -->

        <div class="form-item">
            <label for="password">Enter Password :</label><br>
            <input type="password" placeholder="password"formControlName="password">
        </div>

        <!-- <div class="form-item">
            <label for="password">Confirm Password :</label><br>
            <input type="password" placeholder="********" formControlName="confirmPassword">
        </div> -->

        <button class="button"><b>Submit</b></button>
    </form>

</div>