.login{
    

    padding: 7rem 24rem;
    display: block;
    .table{
        padding: 2rem;
        margin:1rem;
        box-shadow: -2px -1px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the shadow effect*/

    }
    
}

tr{
    padding: 2rem;
}