<div class="login">
    <table class="table">
        <tr class="form-item">
            <td>User Name :</td>
            <td><input type="text" placeholder="username" value=""></td>
        </tr>
        <tr>
            <td>Password :</td>
            <td><input type="password" placeholder="password" value=""></td>
        </tr>
        <tr>
            <td>Role :</td>
            <td><select id="role" name="roles">
                <option value="admin">Admin</option>
                <option value="saab">User</option>
                </select>
            </td>
        </tr>
    </table>
</div>
